<% @page_title = "Profesionales" %>

<%= link_to("<< Regresar a lista", professionals_path, :class => 'back-link') %>

<div class="professional delete">
	<h2>Borrar Profesional</h2>

	<%= form_for(:professional, :url => professional_path(@professional.id), :html => {:method => :delete}) do |f| %>

		<p> Esta seguro que desea borrar este profesional permanentemente? </p>

		<p class="reference-name"><%= @professional.email %></p>

		<div class="form-buttons">
			<%= submit_tag("Delete Profesional") %>
		</div>
	<% end %>
</div>
