<!DOCTYPE html>
<html>
	<head>
	  <title>Timesheet | <%= @page_title || "Profesional" %></title>
	  <%= stylesheet_link_tag('application', :media => 'all') %>
	</head>
	<body>
		<div id="header">
			<h1> Timesheet Profesional </h1>
		</div>
		<div id="main">
			<% if !flash[:notice].blank? %>
			  <div class="notice">
			    <%= flash[:notice] %>
			  </div>
			<% end %>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<p id="copyright"> &copy; mg.com / MG</p>
		</div>
	</body>
</html>
